body{
    background-color:#90caf9 ;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;
    text-align: left;
    color: #fafafa;
    margin-bottom: 30px;
    text-transform: uppercase;
}



